<<<<<<< HEAD
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
=======
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
>>>>>>> 519c7866245bb7df43bd5924d819bc4ab649e1f7
