<<<<<<< HEAD
.subpage {
	padding: 12.7mm;
}

.ttd {
	height: 1.25cm
}

@page {
    margin: 12.7mm;
}

@media print {
	.subpage {
		padding: 0;
	}
=======
.subpage {
	padding: 12.7mm;
}

.ttd {
	height: 1.25cm
}

@page {
    margin: 12.7mm;
}

@media print {
	.subpage {
		padding: 0;
	}
>>>>>>> 519c7866245bb7df43bd5924d819bc4ab649e1f7
}